#navbarSupportedContent{
  color:rgb(255,255,255);
}

#toggler{
  position: absolute;
  left: 85%;
}
#text{
  background-color: rgb(123,123,123);
  margin-left: 10px;
  margin-right: 10px;
  width: 99%;
}
.navbar{
  background-color: rgb(123,123,123);
}
.nav-item{
  background-color: rgb(255,255,255);
  color:black;
  border: solid 1px black;
}
#pageHead{
  padding-top: 15px;
  padding-bottom:25px;
}

@media (max-width: 575.98px) {
  #text{
    position: absolute;
    width:50%;
    left:22%;
  }
}
